.backgroundaoe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: white;
    border-radius: 200px 0;
    position: relative;
    overflow: hidden;
    border: 5px solid var(--secondary-color);
}

.sceneaoe {
    width: 90%;
    transform-style: preserve-3d; 
    perspective: 1000px; 
    perspective-origin: 50% 50%;
    display: flex;
    justify-content: center;
}

.videoaoe {
    position:relative;
    /* top: 140px; */
    padding-bottom:56.25%;
    overflow:hidden;
    animation: spina 15s linear infinite;
    transform: rotateX(15deg) rotateY(35deg);
    width: 80%;
    height: 100%;
    z-index: 0;
}

.frameaoe {
    position:absolute;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    overflow:hidden;
    border:none;
    z-index: 1;
}

.ear-savior {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    z-index: 2;
    position: absolute;
}
@keyframes spina {
    from {transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
    to {transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);}
}