.seat-input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 12px;
    margin: 0 auto;
    box-sizing: border-box;
    gap: 1rem;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 21px;
}

.seat-input-container-1, .seat-input-container-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.seat-input-button {
    height: 56px;
    padding: 6px;
    padding: 0 8px;
    box-sizing: border-box;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--primary-color);
    border-width: 0;
    border-radius: 21px;
    transition: scale 0.3s;
    cursor: pointer;
    flex: 1 1 auto;
}

.seat-input-button:hover {
    scale: 1.1;
}

.seat-input-button:active {
    scale: 1;
}

.seat-input-downloadnshare-button {
    display: flex;
    width: clamp(200px, 80vw, 300px);
    height: 3.5rem;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-color);
    border-width: 0;
    border-radius: 21px;
    transition: all .25s ease;
}

.seat-input-downloadnshare-button * {
    pointer-events: none;
}

.seat-input-downloadnshare-button:not(button:disabled):hover {
    scale: 1.06;
}

.seat-input-downloadnshare-button:not(button:disabled):hover .download-svg-container {
    width: 5.5rem;
}

.seat-input-downloadnshare-button:not(button:disabled):active {
    scale: 1;
}

.seat-input-downloadnshare-button:disabled {
    filter: brightness(calc(var(--menu-disabled-value) - .1));
    cursor: not-allowed;
}

.seat-input-downloadnshare-svg {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    padding-left: .5rem;
    width: 5rem;
    background-color: var(--secondary-color);
    mask-image: linear-gradient(to right, black 70%, transparent 100%); /*black is just a template, dont change it!*/
    transition: width .25s ease;
}

.seat-input-downloadnshare-svg img {
    height: 80%;
}

.seat-input-downloadnshare-text {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: clamp(1rem, 5vw, 1.25rem);
    color: var(--text-color);
}

/**/

.seat-result-container {
    position: relative;
    width: 99%; 
    height: 99%; 
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    container-type: inline-size;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    border: 3px solid var(--border-color);
}

.seat-result-hidden-text {
    position: absolute;
    font-size: 1.3cqw;
    color: black;
}

.seat-result-papan-gede {
    position: absolute;
    left: 18%;
    top: 1.1%;
    width: 63.9%; 
    height: 1.1%; 
    background-color: #BB9679;
    border: 3px solid black;
    border-radius: 3px; 
}

.seat-result-pintu {
    position: absolute; 
    left: 97.2%; 
    top: 7.2%;
    width: 1.3%; 
    height: 17.1%; 
    background-color: #BB9679; 
    border: 3px solid black; 
    border-radius: 3px; 
}

.seat-result-meja-guru {
    position: absolute; 
    left: 1.4%; 
    top: 12.3%;
    width: 16.2%; 
    height: 9.6%; 
    background-color: #FF9FCF; 
    border: 3px solid black; 
    border-radius: 3px; 
}

.seat-result-color-type {
    position: absolute; 
    left: 40.3%; 
    width: 5.8%; 
    height: 4.6%; 
}

.seat-result-color-name {
    position: absolute; 
    left: 47.6%; 
    width: 52%;
    font-size: 5cqw;
    line-height: 5cqw;
    color: black; 
}

.seat-result-info {
    position: absolute; 
    top: 24.4%;
    width: 99.4%; 
    font-size: 3.35cqw;
    color: black; 
}

.seat-result-placement-container {
    position: absolute;
    top: 32.8%;
    width: 100%;
    height: 100%;
}

.seat-placement-bangku-wraper {
    position: absolute; 
    width: 18.2%;
    height: 66.7%;
    border: 2px solid black;
}

.seat-placement-divider-top-bottom {
    position: absolute; 
    left: 49.2%;
    width: 3%; 
    height: 100%; 
    background-color: black;
    z-index: 2;
}

.seat-placement-divider-left-right {
    position: absolute; 
    width: 100%; 
    height: .4%; 
    background-color: black; 
    z-index: 2;
}

.seat-placement-actual-seat {
    position: absolute; 
    display: flex;
    width: 49.2%; 
    height: 24.7%; 
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 6.1cqw;
    z-index: 1;
}

@media (max-width: 768px) and (min-width: 320px) {
    .seat-input-container {
        flex-direction: column;
        height: auto;
    }
    
    /* a little color thing here */
    .color-container label:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* ------------------------------ color thing (START) ------------------------------ */

.color-input-widget {
    height: auto;
    width: clamp(11rem,50%,25rem);
    background-color: var(--bg-second-color);
    display: flex;
    flex-direction: column;
    row-gap: .2rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1.05rem;
    color: var(--text-color);
    transition: filter .2s ease;
}
.color-input-widget.disabled {
    filter: brightness(calc(var(--menu-disabled-value) - 0.35));
    cursor: not-allowed;
    transition: all .2s ease;
}
.color-input-widget.disabled * {
    pointer-events: none;
}

.color-container label {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    align-items: center;
    padding: 3px 0;
    cursor: pointer;
}
.color-container {
    width: 8.5rem;
    height: 2rem;
}

.color-input, .pickr {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid black;
    border-radius: .5rem;
    box-sizing: border-box;
    overflow: hidden;
}
.pickr {
    display: none;
}

.boy-color .color-input {
    background-color: #9fffa5;
}
.girl-color .color-input {
    background-color: #fffa9f;
}

input[type="color"] {
    display: none;
}

.color-input-title {
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    margin: auto;
    font-weight: bold;
    letter-spacing: .1rem;
}

.main-color-container {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    width: max(90%, 11rem);
    justify-content: space-around;
    align-items: center;
}

/* ------------------------------ color thing (END) --------------------------------  */