/*HOW TO NAME THING ON HERE:

> group-container
> group-button
> group-button-top
> group-image
> group-image-spin-to-death
> seat-result
> seat-result-button
> seat-result-placement
> seat-placement
> seat-placement-bla-bla
*/

/*ORDER OF CSS:

1. Positioning
    position:
    top:
    right:
    bottom:
    left:
    z-index:

2. Box Model
    display:
    flex / grid:
    width:
    height:
    margin:
    padding:
    box-sizing:

3. Typography
    font-family:
    font-size:
    font-weight:
    line-height:
    color:
    text-align:

4. Visual / Appearance
    background:
    border:
    border-radius:
    box-shadow:
    opacity:

5. Animation / Effects
    transition:
    transform:
    animation:

e.g:

.DISTRUST {
    Position
    position: relative;

    Box model
    display: flex;
    flex-direction: column;
    width: var(--yo-mom);
    height: var(--shortie);
    padding: 20px;
    margin: 18px;

    Typography
    font-size: 16px;
    color: #17171a;

    Visual
    background: #11037;
    border-radius: 21px;
    box-shadow: 0 4px 21px rgba(6,9,4,2.0);

    Effects
    transition: open-gate 0.2s fall;
}
*/

/*SOME NOTE:
> use ease
>
*/

/*+=====START OF CSS=====+*/

* {
    user-select: none;
}

:root {
    --primary-color: #FC3EC4;
    --secondary-color: #990054;
    --bg-color: #17171a;
    --bg-second-color: #2E2E34;
    --bg-third-color: #414149;
    --border-color: #222222;
    --text-color: white;
    --text-inverted-color: black;
    --text-gray-color: #BBBBBC;
    --bg-footer-color: #17171aA8;
}

@font-face {
  font-family: "ProFontWindows";
  src: url("assets/font/profontwindows.woff2") format("woff2");
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'ProFontWindows', sans-serif;
    font-size: 18px;
    background: linear-gradient(
        to bottom,
        var(--primary-color) 0%,
        var(--bg-color) 10%
    );
    background-size: 100% 600%;
    color: var(--text-color);
    transition: background-position .8s ease;
}

body::before {
    position: fixed;
    z-index: -1;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    content: "";
}

header {
    display: flex;
    justify-content: center;
    padding-top: 21px;
    font-family: 'ProFontWindows', sans-serif;
}

main {
    position: relative;
    top: -4px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 48px;
    z-index: 10000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    background-color: var(--bg-footer-color);
    border-top: 1px solid var(--border-color);
    backdrop-filter: blur(3px);
    color: var(--text-color);
}

button {
    font-family: inherit;
}

input {
    font-family: inherit;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.menu-container, .menu-mobile-container {
    position: relative;
    z-index: 10000;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
    width: 768px;
    padding: 12px 14px;
    box-sizing: border-box;
    border-radius: 21px;
    overflow: hidden;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}

.menu-item-select {
    position: absolute;
    left: 20px;
    height: 56px;
    width: 128px;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 14px;
    background-color: var(--bg-second-color);
    transition: all .8s cubic-bezier(0.2, 1.3, 0.3, 1);
}

.menu-icon-button {
    height: 56px;
    width: 128px;
    padding: 6px;
    border-width: 0;
    border-radius: 14px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    cursor: pointer;
}

.menu-icon-image {
    position: relative;
    bottom: 3px;
    width: 69px;
    pointer-events: none;
}

.menu-item-button {
    z-index: 1;
    width: 128px;
    height: 100%;
    border: 0;
    font-size: 24px;
    background: none;
    box-sizing: border-box;
    color: var(--text-color);
    cursor: pointer;
}

.menu-item-image {
    position: relative;
    right: 3px; 
    top: 3px; 
    width: 34px;
    height: 34px;
    pointer-events: none;
    filter: invert(1);
}

.bg-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.bg-image::before {
    position: fixed;
    z-index: -1;
    inset: 0;
    background: url("assets/icon/iconWhiteFull.svg") center no-repeat fixed;
    background-size: 100% auto;
    opacity: .02;
    content: "";
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 768px;
    margin: 0 auto;
    padding-bottom: 80px;
    padding-top: 20px;
    gap: 1rem;
}

.multiselect-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
}

.multiselect-warper {
    position: relative;
    align-self: stretch;
    height: 54px;
}

.multiselect-selector {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 4px;
    padding-top: 3px;
    box-sizing: border-box;
    font-size: 21px;
    background-color: var(--bg-second-color);
    border-radius: 21px;
    transition: all 0.1s ease;
    cursor: pointer;
}

.multiselect-selector:hover {
    background-color: var(--bg-third-color);
}

.multiselect-selector .arrow {
    transition: all 0.1s ease;
}

.multiselect-container.open .arrow {
    transition: all 0.1s ease;
    transform: rotateZ(180deg);
}

.multiselect-options-container {
    position: relative;
    bottom: 64px;
    z-index: 2;
    background-color: var(--bg-second-color);
    border-radius: 21px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.2s ease;
    transform: translateY(0);
    pointer-events: none;
}

.multiselect-container.open .multiselect-options-container {
    opacity: 1;
    transform: translateY(10px);
    pointer-events: auto;
}

.multiselect-options-option {
    display: flex;
    justify-content: center;
    padding: 10px 14px;
    font-size: 18px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.multiselect-options-option:hover {
    background-color: var(--primary-color);
}

/*+=====END OF CSS=====+*/

/*+=====FOR MOBILE=====+*/


.mobile-only {
    display: none;
}
.desktop-only {
    display: block;
}

#widthNotSupport {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (max-width: 768px) and (min-width: 320px) {
    footer {
        display: none;
    }

    body {
        padding: 10px;
    }

    .mobile-only {
        display: block;
    }
    
    .desktop-only {
        display: none;
    }

    .menu-container {
        position: fixed;
        bottom: 0;
        z-index: 10000;
        width: auto;
        gap: 1rem;
        background-color: var(--bg-footer-color);
        backdrop-filter: blur(3px);
    }

    .menu-mobile-container {
        width: auto;
    }

    .menu-item-select {
        width: 64px;
    }

    .menu-item-button {
        width: 64px;
    }

    .main-container {
        width: auto;
    }
}

@media (max-width: 319px) {
    header {
        display: none;
    }

    main {
        display: none;
    }

    footer {
        display: none;
    }

    #widthNotSupport {
        display: flex;
    }
}