.about-main-text {
    overflow: hidden;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 21px;
}

.about-main-text h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    margin: 0 auto;
    text-align: center;
    background-color: oklch(from var(--tertiary-color) l c h / 0.25);
    border-bottom: 2px solid var(--border-color);
}

.about-main-text p {
    margin: 16px;
    text-align: center;
    font-size: 17px;
}

.about-credit-title {
    margin: 2.25rem auto 0;
    font-size: 2.67rem;
    color: var(--tertiary-color);

}

.about-info-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    gap: .85rem;
    height: auto;
}

.about-info-container > div {
    display: grid;
    grid-template-columns: 135px 1fr;
    height: auto;
    overflow: hidden;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 21px;
    transition: .2s ease;
}

.about-info-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.about-info-image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: calc(21px - 10px);
}

.about-info-image a { /* this is the reasonwhy the image is not centered at first */
    height: calc(125px - 10px);
    aspect-ratio: 1 / 1;
}

.about-info-debug-menu {
    width: 10px;
    height: 10px;
    padding: 0;
    background: none;
    border: 0;
}

.about-info {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    padding-left: 14px;
    gap: .25rem;
}

.about-info-name {
    font-size: 1.45rem;
    font-weight: bold;
}

@media (max-width: 685px) and (min-width: 320px) {
    .about-info-container > div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}