.home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100px;
    padding: 15px;
    font-size: clamp(2rem,10vw,3.25rem);
    line-height: clamp(2rem,8.25vw,3.25rem);
    letter-spacing: .1rem;
    font-weight: bolder;
    font-style: oblique;
    background:
    linear-gradient(to right, var(--bg-color) clamp(30%,40%,65%), rgba(0, 0, 0, 0.199)),
    url("assets/bg106.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    border: 1px solid var(--border-color);
    border-radius: 21px;
    transition: background-color .1s ease;
}

.home-container {
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1.75rem;
    column-gap: 1.2rem;
    margin: 0 auto;
    height: auto;
    width: 80%;
    padding: 25px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 21px;
}

.home-card {
    position: relative;
    display: grid;
    grid-template-rows: 60px 1fr 50px;
    justify-content: space-between;
    flex: 0 1 auto;
    padding: .75rem;
    gap: .5rem;
    margin: .4rem;
    width: clamp(125px,100%,225px);
    height: 280px;
    background-color: var(--bg-second-color);
    border-radius: 10px;
    aspect-ratio: 3/4;
}

.home-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.65rem;
    background-color: var(--bg-third-color);
    mask-image: linear-gradient(90deg,transparent, red,red,red, transparent);
}

.home-card-text {
    text-align: center;
}

.home-card-btn {
    height: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: .15rem;
    color: var(--text-color);
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    border-color: transparent;
    transition: background-color .1s ease;
    cursor: pointer;
}

.home-card-btn:hover {
    background-color: #be2390;
    transition: background-color .1s ease;
}

.home-card::after, .home-card::before {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    padding: 3px;
    inset: -3px;
    border-radius: 13px;
    content: '';
}

#home-card1::after, #home-card2::after {
    filter: blur(10px);
    opacity: .9;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
} /* gw nonton tutorial buat ngisi ni @property */

#home-card1::after, #home-card1::before {
    background-image: conic-gradient(
        from calc(var(--angle) + 180deg),
        transparent 20%,
        rgb(70, 120, 255),
        rgb(90, 220, 140),
        rgb(255, 95, 95)
    ); 
    animation: spin 10s linear infinite !important;
}

#home-card2::after, #home-card2::before {
    background-image: conic-gradient(
        from var(--angle),
        transparent 20%,
        rgb(70, 210, 220),
        rgb(150, 110, 255),
        rgb(255, 110, 180)
    );
    animation: spin 10s linear infinite !important;
}

.birthday-container {
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 1rem;
    column-gap: 1.2rem;
    margin: 0 auto;
    height: auto;
    width: 80%;
    padding: 0 25px;
    padding-bottom: 1rem;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 21px;
}

.birthday-container h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 100%;
    padding: .4rem 0 0 0;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid var(--border-color);
}

.birthday-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(92px, 100%), 1fr));
    width: 100%;
    gap: .8rem;
}

.birthday-wraper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .6rem;
    box-sizing: border-box;
    background-color: var(--bg-second-color);
    border-radius: 21px;
}

.birthday-name {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.birthday-date {
    display: flex;
    justify-content: center;
}

.birthday-fyi {
    width: 100%;
    padding: .4rem 0;
    border-top: 2px solid var(--border-color);
}

@keyframes spin {
    from {
        --angle : 0deg;
    } 
    to {
        --angle : 360deg;
    }
}